
.messageContainer {
  grid-area: mainTextInput;
  padding-top: 40px;
  display: grid;
  background-color: ghostwhite;
  max-height: 600px;
  overflow-y: auto;
}

.formInput {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 0.1fr;
  border: 1px solid grey;
  padding: 20px;
  background-color: gainsboro;

}

.textInput {
  border-radius: 20px;
  height: 30px;
  border: none;
  outline: none;
  padding: 5px 40px 5px 10px;
}

.submitButton {
  justify-self: end;
  width: 50px;
  border: none;
  border-radius: 20px;
}

.exitButton {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.messageBody {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 15px 15px 15px 15px;
  background-color: lightblue;
  width: 400px;
  border-radius: 30px;
  justify-self: start;
}

.ownMessage {
  background-color: gainsboro;
  justify-self: end;
}
