.mainSP {
  background-color: gainsboro;
  grid-area: mainSP;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.searchInput {
  border-radius: 25px;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  text-align: center;
}

.exitButton {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: lightgrey;
  position: absolute;
  right: 20px;
  top: 20px;
}